TELNYX_API_KEY=your_telnyx_api_key_here
TELNYX_CONNECTION_ID=your_voice_api_application_id_here
TELNYX_CALLER_ID=+35700000000
TELNYX_SIP_DOMAIN=sip.telnyx.com
TELNYX_SIP_PASSWORD=your_sip_credential_password_here
